<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" name="viewport" content ="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EatTwoGetter</title>


</head>
<body>
    <!-- 헤더 / navbar start -->
    <nav class="navbar navbar-light" style="background-color: #367daf">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img margin-left="20" width="60" height="60" alt="" src="/images/mainLogo.png">
            </a>
            <a class="navbar-brand flex-center" href="/home">EatTwoGetter</a>
        </div>
    </nav>
    <!-- 헤더 끝 -->

    <!-- 왼쪽 네비게이션 바 -->
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-lg col-md-3 col-xl-2 px-sm-auto px-0 " style="background-color: #e3f2fd ">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">메뉴</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0 text-dark">
                                <span class="ms-1 d-none d-sm-inline">회원정보관리</span>
                            </a>
                        </li>
                        <li>
                            <a href="#submenu1" class="nav-link px-0 align-middle text-dark">
                                <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle text-dark">
                                <span class="ms-1 d-none d-sm-inline">기능3</span></a>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-dark">
                                <span class="ms-1 d-none d-sm-inline">토글박스</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <hr>
                    <!-- 소스 : https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb -->
                    <div class="btn-group dropup pb-4">
                        <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="40" height="40" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">이용자 별명</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">내정보관리</a></li>
                            <li><a class="dropdown-item" href="#">절약한 배달비 보기</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- map -->
            <div class="map_wrap col py-3">
                <div class="col-lg col-md-3 col-xl-2 px-sm-auto px-0 min-vh-100" id="map" style="margin:0; width: 100%; height: 100%;"></div>
                <input class="" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                <ul id="category">
                    <li id="BK9" data-order="0">
                        <span class="category_bg bank"></span>
                        한식
                    </li>
                    <li id="MT1" data-order="1">
                        <span class="category_bg mart"></span>
                        중식
                    </li>
                    <li id="PM9" data-order="2">
                        <span class="category_bg pharmacy"></span>
                        일식
                    </li>
                    <li id="OL7" data-order="3">
                        <span class="category_bg oil"></span>
                        양식
                    </li>
                    <li id="CE7" data-order="4">
                        <span class="category_bg cafe"></span>
                        분식
                    </li>
                    <li id="CS2" data-order="5">
                        <span class="category_bg store"></span>
                        야식
                    </li>
                </ul>
                <div class="hAddr">
                    <span class="title">현재위치</span>
                    <span id="addrSet"></span>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                    Scrolling long content
                </button>
            </div>


            <!-- 마커생성 모달 -->


            <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <!--modal header-->
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <br>

                        <!--modal header end-->

                        <!--modal body-->
                        <div class="modal-body">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-3 mb-3">
                                        <label for="validationDefault01">음식유형</label>
                                        <select class="custom-select" id="validationDefault01" required>
                                            <option selected disabled value="">Choose...</option>
                                            <option value="1">한식</option>
                                            <option value="2">중식</option>
                                            <option value="3">양식</option>
                                            <option value="3">일식</option>
                                            <option value="3">카페</option>
                                            <option value="3">디저트</option>
                                            <option value="3">야식</option>
                                        </select>
                                    </div>
                                    <div class="col-15 mb-5">
                                        <label for="validationDefault02">가게이름</label>
                                        <input type="text" class="form-control" id="validationDefault02" required>
                                    </div>
                                    <div class="col-15 mb-5">
                                        <label for="validationDefault03">메뉴이름</label>
                                        <input type="text" class="form-control" id="validationDefault03"  required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-15 mb-5">
                                        <label for="validationDefault04">현재금액</label>
                                        <input type="text" class="form-control" id="validationDefault04" required>
                                    </div>
                                    <div class="col-15 mb-5">
                                        <label for="validationDefault05">최소주문금액</label>
                                        <input type="text" class="form-control" id="validationDefault05" required>
                                    </div>
                                    <div class="col-15 mb-5">
                                        <label for="validationDefault06">배달료</label>
                                        <input type="text" class="form-control" id="validationDefault06" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                        <label class="form-check-label" for="invalidCheck2">
                                            Agree to terms and conditions
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </form>
                        </div>
                        <!--modal body end-->

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <a href="/chat" type="button" class="btn btn-primary">채팅하기</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

<!-- services 라이브러리 불러오기 -->
<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=e3722af7f8f20fb898aaa5d0db9511bb&libraries=services"></script>
<script>
    // 1. 지도 생성

    // 초기 지도 센터값 설정
    var x = 37.48875;
    var y = 126.93687;

    // 주소-좌표 변환 객체를 생성합니다
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div

    mapOption = {
        center: new kakao.maps.LatLng(x, y), // 지도의 중심좌표
        level: 3, // 지도의 확대 레벨
        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
    };

    // 지도를 생성한다
    var map = new kakao.maps.Map(mapContainer, mapOption);
    var geocoder = new kakao.maps.services.Geocoder();

    // 확대, 축소 기능(줌 컨트롤)
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.BOTTOMRIGHT); // 파라미터(컨트롤, 위치)

    // gps 위치 버튼(직접 구현 필요. 마커가 이동하는 것 처럼만 보이게 하면 될듯.)


    // 2. 마커 생성

    // 마커 객체 생성
    var marker = new kakao.maps.Marker({
        // 지도 중심좌표에 마커를 생성합니다
        map: map,
        position: locPosition
    });

    // 3. 위치 수집 기능(GeoLocation)

    // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
    if (navigator.geolocation) {

        // GeoLocation을 이용해서 접속 위치를 얻어옵니다
        navigator.geolocation.getCurrentPosition(function(position) {

            var lat = position.coords.latitude, // 위도
                lon = position.coords.longitude; // 경도

            var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다

            // 마커와 인포윈도우를 표시합니다
            displayMarker(locPosition);
        });

    } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

        var locPosition = new kakao.maps.LatLng(x, y);

        displayMarker(locPosition);
    }


    // 4. displayMarker 함수(지도에 마커를 표시하는 함수)

    function displayMarker(locPosition) {

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: locPosition
    });

    // 마우스로 맵을 드래그 할 때 나타나는 이벤트리스너
    kakao.maps.event.addListener(map, 'dragend', function(mouseEvent) {
        var position = map.getCenter();
        marker.setPosition(position);
    });

    // 지도 중심좌표를 접속위치로 변경합니다
    map.setCenter(locPosition);
    }


    // 5. 지도의 중심 위치의 위도, 경도 불러오기, 그 위치의 주소 정보 가져오기

    // 현재 지도에서 보이는 중심 부분의 경위도를 불러온다. (이동을 인식하는 이벤트리스너 추가)
    kakao.maps.event.addListener(map, 'center_changed', function() {

        // 지도의 중심좌표를 얻어옵니다
        var latlng = map.getCenter();

    });

    var geocoder = new kakao.maps.services.Geocoder();

    function searchDetailAddrFromCoords(coords, callback) {
        // 좌표로 법정동 상세 주소 정보를 요청합니다
        geocoder.coord2Address(latlng.getLat(), latlng.getLng(), callback);
    }


    kakao.maps.event.addListener(map, 'center_changed', function(mouseEvent) {
                searchDetailAddrFromCoords(latlng.latLng, function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

                var content = '<div class="bAddr">' +
                                '<span class="title">법정동 주소정보</span>' +
                                detailAddr +
                            '</div>';

                // 박스에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                var addrSet = document.getElementById('addrSet');
                addrSet.innerHTML = content;

            }
        });
    });




    // 7. 왼쪽 상단 메뉴 필터링바

    // 마커를 클릭했을 때 해당 장소의 상세정보를 보여줄 커스텀오버레이입니다
    var placeOverlay = new kakao.maps.CustomOverlay({zIndex:1}),
        contentNode = document.createElement('div'), // 커스텀 오버레이의 컨텐츠 엘리먼트 입니다
        markers = [], // 마커를 담을 배열입니다
        currCategory = ''; // 현재 선택된 카테고리를 가지고 있을 변수입니다

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places(map);

    // 지도에 idle 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'idle', searchPlaces);

    // 커스텀 오버레이의 컨텐츠 노드에 css class를 추가합니다
    contentNode.className = 'placeinfo_wrap';

    // 커스텀 오버레이의 컨텐츠 노드에 mousedown, touchstart 이벤트가 발생했을때
    // 지도 객체에 이벤트가 전달되지 않도록 이벤트 핸들러로 kakao.maps.event.preventMap 메소드를 등록합니다
    addEventHandle(contentNode, 'mousedown', kakao.maps.event.preventMap);
    addEventHandle(contentNode, 'touchstart', kakao.maps.event.preventMap);

    // 커스텀 오버레이 컨텐츠를 설정합니다
    placeOverlay.setContent(contentNode);

    // 각 카테고리에 클릭 이벤트를 등록합니다
    addCategoryClickEvent();

    // 엘리먼트에 이벤트 핸들러를 등록하는 함수입니다
    function addEventHandle(target, type, callback) {
        if (target.addEventListener) {
            target.addEventListener(type, callback);
        } else {
            target.attachEvent('on' + type, callback);
        }
    }

    // 카테고리 검색을 요청하는 함수입니다
    function searchPlaces() {
        if (!currCategory) {
            return;
        }

        // 커스텀 오버레이를 숨깁니다
        placeOverlay.setMap(null);

        // 지도에 표시되고 있는 마커를 제거합니다
        removeMarker();

        ps.categorySearch(currCategory, placesSearchCB, {useMapBounds:true});
    }

    // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
    function placesSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            // 정상적으로 검색이 완료됐으면 지도에 마커를 표출합니다
            displayPlaces(data);
        } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
            // 검색결과가 없는경우 해야할 처리가 있다면 이곳에 작성해 주세요

        } else if (status === kakao.maps.services.Status.ERROR) {
            // 에러로 인해 검색결과가 나오지 않은 경우 해야할 처리가 있다면 이곳에 작성해 주세요

        }
    }

    // 지도에 마커를 표출하는 함수입니다
    function displayPlaces(places) {

        // 몇번째 카테고리가 선택되어 있는지 얻어옵니다
        // 이 순서는 스프라이트 이미지에서의 위치를 계산하는데 사용됩니다
        var order = document.getElementById(currCategory).getAttribute('data-order');



        for ( var i=0; i<places.length; i++ ) {

                // 마커를 생성하고 지도에 표시합니다
                var marker = addMarker(new kakao.maps.LatLng(places[i].y, places[i].x), order);

                // 마커와 검색결과 항목을 클릭 했을 때
                // 장소정보를 표출하도록 클릭 이벤트를 등록합니다
                (function(marker, place) {
                    kakao.maps.event.addListener(marker, 'click', function() {
                        displayPlaceInfo(place);
                    });
                })(marker, places[i]);
        }
    }

    // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
    function addMarker(position, order) {
        var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
            imageSize = new kakao.maps.Size(27, 28),  // 마커 이미지의 크기
            imgOptions =  {
                spriteSize : new kakao.maps.Size(72, 208), // 스프라이트 이미지의 크기
                spriteOrigin : new kakao.maps.Point(46, (order*36)), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                offset: new kakao.maps.Point(11, 28) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                marker = new kakao.maps.Marker({
                position: position, // 마커의 위치
                image: markerImage
            });

        marker.setMap(map); // 지도 위에 마커를 표출합니다
        markers.push(marker);  // 배열에 생성된 마커를 추가합니다

        return marker;
    }

    // 지도 위에 표시되고 있는 마커를 모두 제거합니다
    function removeMarker() {
        for ( var i = 0; i < markers.length; i++ ) {
            markers[i].setMap(null);
        }
        markers = [];
    }

    // 클릭한 마커에 대한 장소 상세정보를 커스텀 오버레이로 표시하는 함수입니다
    function displayPlaceInfo (place) {
        var content = '<div class="placeinfo">' +
                        '   <a class="title" href="' + place.place_url + '" target="_blank" title="' + place.place_name + '">' + place.place_name + '</a>';

        if (place.road_address_name) {
            content += '    <span title="' + place.road_address_name + '">' + place.road_address_name + '</span>' +
                        '  <span class="jibun" title="' + place.address_name + '">(지번 : ' + place.address_name + ')</span>';
        }  else {
            content += '    <span title="' + place.address_name + '">' + place.address_name + '</span>';
        }

        content += '    <span class="tel">' + place.phone + '</span>' +
                    '</div>' +
                    '<div class="after"></div>';

        contentNode.innerHTML = content;
        placeOverlay.setPosition(new kakao.maps.LatLng(place.y, place.x));
        placeOverlay.setMap(map);
    }


    // 각 카테고리에 클릭 이벤트를 등록합니다
    function addCategoryClickEvent() {
        var category = document.getElementById('category'),
            children = category.children;

        for (var i=0; i<children.length; i++) {
            children[i].onclick = onClickCategory;
        }
    }

    // 카테고리를 클릭했을 때 호출되는 함수입니다
    function onClickCategory() {
        var id = this.id,
            className = this.className;

        placeOverlay.setMap(null);

        if (className === 'on') {
            currCategory = '';
            changeCategoryClass();
            removeMarker();
        } else {
            currCategory = id;
            changeCategoryClass(this);
            searchPlaces();
        }
    }

    // 클릭된 카테고리에만 클릭된 스타일을 적용하는 함수입니다
    function changeCategoryClass(el) {
        var category = document.getElementById('category'),
            children = category.children,
            i;

        for ( i=0; i<children.length; i++ ) {
            children[i].className = '';
        }

        if (el) {
            el.className = 'on';
        }
    }

</script>

<!-- 8. 주소로 좌표 검색, 검색창을 활용해서 직접 주소로 마커를 옮기는 기능(다음 API) -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>


</body>
</html>